.todolist {
  background-color: darkseagreen;
  padding: 15px;
  border-radius: 5px;
  min-height: 300px;
}

.buttonTaskFilter {
  background-color: teal;
  border-radius: 3px;
  border-color: teal;
}

.buttonTaskFilterActive {
  background-color: coral;
  color: white;
  border-radius: 3px;
  border-color: coral;
}
